* {
    margin: 0;
    padding: 0;
}

body{
    font-family: futura;
    
}

.home{
    height: 100vh;
    width: 100vw;
    background-color:#3299CC ;
}
.image{
    display: flex;
    height: 500px;
    width: 372px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.logo{
    display: flex;
    color: white;
    height: 412px;
    width: 372px;
    text-align: center;    
    align-items: center;
    justify-content: center;

}
.accueil{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    
    
}
.Navbar{
    height: 50px; 
    width: 100%;
    background-color: dimgray;
}
h1{
    color: white;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    font-family: futura;
}
button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
Button:active {
	position:relative;
	top:1px;
}
.footer{
    width: 372px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}