* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    color:#fff !important;
    opacity: 0; 
    transition: opacity .5s;
}

hr {
    border-top: 4px solid #fff !important;
    border-radius: 25px;
}

h2 {
    color: #F7A521;
}

/* Navbar */
.navbar {
    height: 10%;
    width: 100%;
    background-color:#FDA921;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.active {
    color: red;
}

/* Animation */
.anim {
    height: 100%;
    background-color: #61BFE5;
    position: relative;
}
.anim-button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Accueil */

.home{
    height: 100%;
    background-color: #BEE6FA;
}
.accueil{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
}

/* Histoires */

.stories-container{
    width: 85%;
    margin: 25px auto 25px auto;
    padding: 5px;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    color: #fff;
    position: relative;
}
.inactive {
    background-color: #878A8A;
    opacity: 0.6;
}
.price {
    background-color: orange;
    font-size: 0.7em;
    padding: 2px 3px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    right: 10px;
}

/* Histoire 1 */

.story-container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main-container {
    width: 80%;
    height: 75%;
}
.img-container {
    position: relative;
}
.main-container img {
    width: 100%;
    height: 50%;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}
.form-story {
    position: absolute !important;
    width: 95% !important;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}
.text-container {
    background-color: #fff;
    color: #212529;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 5px 10px;
}
.text-container p {
    margin: 0;
}
.btn-story {
    color: #fff !important;
    font-weight: 600 !important;
}

.btn-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.btn-action {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDA921;
}
.btn-icon {
    font-size: 1.8em;
}